<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Courses Directory</title>
</head>

<body>
<!-- Main Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/users/home.html">Course Managment App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users/home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses/course">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

	<h3>Courses Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/courses/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add course
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Year</th>
				<th>Semester</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCourse : ${courses}">
			
				<td th:text="${tempCourse.id}" />	
				<td th:text="${tempCourse.title}" />	
				<td th:text="${tempCourse.description}" />
				<td th:text="${tempCourse.year}" />
				<td th:text="${tempCourse.semester}" />	
				
				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/courses/showFormForUpdate(courseId=${tempCourse.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Add "delete" button/link -->					
					<a th:href="@{/courses/delete(courseId=${tempCourse.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this course?'))) return false">
						Delete
					</a>
					<!-- Add "show students button" button/link -->
					<a th:href="@{/students/students(courseId=${tempCourse.id})}"
					   class="btn btn-info btn-sm">
						Show Students
					</a>
					<!-- Add "ShowStatistics" button/link -->
					<a th:href="@{/courses/showStatistics(courseId=${tempCourse.id}, sType='')}"
					   class="btn btn-info btn-sm">
						Show Statistics
					</a>
					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



