<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Student</title>
</head>

<body>
<!-- Main Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/users/home.html">Course Managment App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users/home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses/course">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
	
	<div class="container">
	
		<h3>Student Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Student </p>
	
		<form action="#" th:action="@{/students/save-grades}"
						 th:object="${student}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="hidden" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="name" />

			<input type="hidden" th:field="*{year}"
					class="form-control mb-4 col-4" placeholder="year" />
					
			<input type="hidden" th:field="*{semester}"
					class="form-control mb-4 col-4" placeholder="semester" />
			
			
			<span class="alert alert-danger" th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
			<br></br>
			<label class="form-label">Project grade:</label>			
			<input type="text" th:field="*{projectGrade}"
					class="form-control mb-4 col-4" placeholder="Project Grade" />
					
			<label class="form-label">Exams grade:</label>
			<input type="text" th:field="*{examsGrade}"
					class="form-control mb-4 col-4" placeholder="Exams Grade" />
			<label class="form-label">Project weight:</label>
			<input type="text" th:field="*{projectWeight}"
					class="form-control mb-4 col-4" placeholder="Project weight" />
			<label class="form-label">Exams weight:</label>
			<input type="text" th:field="*{examsWeight}"
					class="form-control mb-4 col-4" placeholder="Exams weight" />
				
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/students/students(courseId=${cId})}">Back to Students List</a>
		
	</div>
</body>

</html>
